<h2>Pagina principal</h2>

<div *ngIf="identificado; then si_identificado else no_identificado"></div>


<!-- si identificado es true-->
<ng-template #si_identificado>
    <h3>Estas identificado en la aplicacion</h3>
    <button (click)="unsetIdentificado()">Borrar identificacion</button>
</ng-template>
<!-- sino /else -->
<!-- si identificado es false-->
<ng-template #no_identificado>
    <p>No estas identificado, pulsa este boton para identificarte</p>
    <button (click)="setIdentificado()">Identificarse</button>
</ng-template>

