<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti enim fugiat rem, error facere dicta hic reprehenderit necessitatibus accusantium eaque voluptate obcaecati, quas iusto laudantium nesciunt dolor laborum vel id?
        Nesciunt accusantium sit doloribus, natus nam incidunt aspernatur accusamus, earum commodi reprehenderit, voluptates rem. Tempora minus rem ratione iure alias ipsum, sequi ea dignissimos odit aspernatur vero ex, similique quos.
        Ad tempora nihil unde est qui facere, voluptatum iste ipsum obcaecati veniam voluptatem, porro placeat praesentium molestiae maxime, sint numquam eligendi. Aliquam ipsam laudantium recusandae! Quis excepturi minima ducimus quos.
        Debitis perspiciatis sapiente, aspernatur ut, dolorum at obcaecati magnam omnis nihil explicabo, officia dicta expedita? Ullam tempora totam fuga nesciunt adipisci blanditiis, libero quos tenetur inventore dignissimos, enim necessitatibus repellat!
        Expedita, corrupti illo. Cum odio explicabo voluptatum impedit architecto laborum quo ipsam consequuntur, atque nemo, sapiente, facere sed distinctio exercitationem ducimus quod itaque. Repellendus nemo expedita doloribus quaerat sunt aut!
        Ipsam ipsum dolorem reiciendis suscipit similique est cupiditate veritatis possimus, temporibus iusto iste laboriosam sunt obcaecati aspernatur aperiam iure nesciunt totam rerum quae! Illo sunt maiores, a mollitia voluptate accusantium?
       
        Eveniet corrupti sed quia labore amet reprehenderit fuga ipsam rerum rem. Aut, natus, quisquam voluptates fugiat modi, non eveniet magni debitis temporibus inventore quos nulla vero cum quam porro quasi.
    </p>
</article>
