
/*Seccion de formulario */
.container{
    padding: 50px;
    padding-top: 10px;
}

.container h2{
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

form {
    width: 80%;
}

form label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea {
    width: 40%;
    padding: 5px;
}

form button,
form input[type="submit"] {
    display: block;
    font-size: 17px;
    padding: 10px;
    margin-top: 15px;
    color: white;
    background:  rgba(226, 13, 13, 1);
    border: 1px solid rgb(48 10 10);
    cursor: pointer;
}
form button :hover,
form input[type="submit"]:hover {

    background:  rgba(226, 13, 13, .8);
    border: 1px solid rgb(48 10 10);
}
/* estilos a los mensajes de error
en el formulario*/
.form-error {
    font-size: 0.8rem;
    padding: 3px;
    background: red;
    color: white;
    margin-left: 5px;
}

form input[disabled] {
    opacity: .4;
    cursor: not-allowed;
}
/* para el mensaje de exito o no, 
al crear el project*/
.message {
    width: 50;
    padding: 5px;
    border: 1px solid #eee;
}
.success {
    background: green;
    color: white;
}
.message a {
    color: white;
}

.failed {
    background: red;
    color: white;
}


