body {
	background: url(../img/hojas.jpg);
	background-attachment: fixed;
}
:root {
	--color--variable:#006040;
}

#logo {
	background: var(--color--variable);
}

#nav-bar ul li:hover {
	background: var(--color--variable);
} 

.button-more {
	background: var(--color--variable);
}