body {
	background: url(../img/rojo.jpg);
	background-attachment: fixed;
}
:root {
	--color--variable:#F41F29;
}

#logo {
	background: var(--color--variable);
}

#nav-bar ul li:hover {
	background: var(--color--variable);
} 

.button-more {
	background: var(--color--variable);
}

#acordeon h3 {
	background: var(--color--variable);
	color: white;
}