/* You can add global styles to this file, and also import other style files */
.altoPrecio {
    font-size: 18px;
    color: grey;
}

.fondoRojo{
    background-color: red;
}

.subrayado {
    text-decoration: underline;
}