<h2>Contacto</h2>

<form #formContacto="ngForm" (ngSubmit)="onSubmit(formContacto)">
    <label for="nombre">Nombre</label> <br>
    <input type="text" name="nombre" id="nombre" #nombre="ngModel" [(ngModel)]="usuario.nombre" required pattern="[a-zA-Z]+"> <br>
    <span *ngIf="nombre.touched && !nombre.valid">
        El nombre es obligatorio
    </span>


    <label for="apellido">Apellido</label> <br>
    <input type="text" name="apellido" id="apellido" #apellido="ngModel" [(ngModel)]="usuario.apellidos" required pattern="[a-zA-Z]+"> <br>
    <span *ngIf="apellido.touched && !apellido.valid">
        El apellido es obligatorio
    </span>

    <label for="email">Email</label><br> 
    <input type="email" name="email" id="email" #email="ngModel" [(ngModel)]="usuario.email" required><br>
    <span *ngIf="email.touched && !email.valid">
        El email no es válido
    </span>

    <label for="mensaje">Mensaje</label><br>
    <textarea name="mensaje" id="mensaje" cols="30" rows="10" #mensaje="ngModel" [(ngModel)]="usuario.mensaje" required></textarea><br>
    <span *ngIf="mensaje.touched && !mensaje.valid">
        El mensaje es obligatorio
    </span>
    <br>
    <input type="submit" value="Enviar" [disabled]="!formContacto.form.valid">
</form>

