<!-- lo que esta despues de fecha | ..
es el uso de una pipe/filtro
que son pequeñas funcionalidades que podemos
agregar a nuestra vista para hacer pequeñas tareas-->
{{fecha | date:'fullDate'}} <br><!--formateamos la fecha con el pipe -->
{{fecha | date:'dd/MM/yy' }}<br> 
{{'HOLA MUNDO USANDO PIPES' | lowercase}} <br><!--pipe para pasar texto a minusculas -->
{{'hola mundo usando pipes' | uppercase}}<br><!--pipe para pasar texto a mayusculas -->
{{4 | calculadora: 2 }} <!--usando nuestra pipe calculadora -->
<hr>
<!-- crear usuario y enviar/post al api-->
<h2>Crear usuario</h2>
<form #newUser="ngForm" (ngSubmit)="onSubmit(newUser)">
    <p>
        <label for="name">Nombre</label>
        <input type="text" name="name" #name="ngModel" [(ngModel)]="new_user.name" required>

        <span *ngIf="name.touched && !name.valid">
        El nombre no es válido
        </span>

    </p>
    <p>
        <label for="job">Trabajo</label>
        <input type="text" name="job" #job="ngModel" [(ngModel)]="new_user.job" required>

        <span *ngIf="job.touched && !job.valid">
            El trabajo no es válido
        </span>
    </p>

    <input type="submit" value="Guardar usuario" [disabled]="!newUser.form.valid">
</form>
    <div *ngIf="usuario_guardado">
        <h3>El usuario se ha guardado correctamente</h3>
        <h3>El usuario que guardaste es:</h3>
        <h3>{{usuario_guardado.name}}</h3>
        <h3>{{usuario_guardado.job}}</h3>
    </div>
    <!-- para enlistar y mostrar los usuarios que se guardar -->
    <h2>Lista de usuarios guardados:</h2>
    <div *ngFor="let elemento of arrayUsuariosGuardados">
        
        <p>nombre usuario: {{elemento.name}} -- trabajo: {{elemento.job}}</p>
        <p></p>
    </div>


<hr>
<!-- buscar usuario del api rest -->
<h3>Burcar usuario por id</h3>
<input type="text" [(ngModel)]="userId" (keyup.enter)="cargarUsuario()">

<div *ngIf="!user">
    Cargando...
</div>

<div *ngIf="user">
    <img src="{{user.avatar}}" alt="imagen de usuario" width="200px">
    <h2>{{user.first_name + user.last_name}}</h2>
    
</div>
<hr>

