<!-- lo que esta despues de fecha | ..
es el uso de una pipe/filtro
que son pequeñas funcionalidades que podemos
agregar a nuestra vista para hacer pequeñas tareas-->
{{fecha | date:'fullDate'}} <br><!--formateamos la fecha con el pipe -->
{{fecha | date:'dd/MM/yy' }}<br> 
{{'HOLA MUNDO USANDO PIPES' | lowercase}} <br><!--pipe para pasar texto a minusculas -->
{{'hola mundo usando pipes' | uppercase}}<br><!--pipe para pasar texto a mayusculas -->
{{4 | calculadora: 2 }} <!--usando nuestra pipe calculadora -->
<hr>
<input type="text" [(ngModel)]="userId" (keyup.enter)="cargarUsuario()">

<div *ngIf="!user">
    Cargando...
</div>

<div *ngIf="user">
    <img src="{{user.avatar}}" alt="imagen de usuario" width="200px">
    <h2>{{user.first_name + user.last_name}}</h2>
    
</div>
